/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Normalize styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.glowing::before{
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg,  #13ff13, #ad27ad, #6512b9, #ff3300de, #5aabde);
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: -1;
  animation: glower 60s linear infinite;
}
@keyframes glower {
  0% {
    background-position: 0 0;
  }
  
  50% {
    background-position: 400% 0;
  }
  100% {
  
    background-position: 0 0;
  }
}

body {
  font-family: 'Oswald','sans-serif';
  line-height: 1.5;
  width: 60%;
  margin: 0 auto;
  color: black;
  text-align: center;
}

a {
  text-decoration: #6b8e23;
}

.centered {
  text-align: center;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 0;
  color:#ffffff;
}

.scores a,
.timer {
  font-size: 20px;
}

.scores a {
  color: red;
  cursor: pointer;
}

.scores a:hover {
  color:rgb(143, 8, 109);
}

/* Start Quiz */
.start-quiz {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  
}

h2 {
  color: rgb(143, 8, 109);
  border-top: 1px solid red;
  margin: 20px 0;
  font-style: italic;
  text-align: center;
}



/* Buttons */
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

button {
  font-family: 'Helvetica', 'sans-serif';
  border: none;
  width: auto;
  overflow: visible;
  padding: 10px;
  background-color:#045704;
  border-radius: 10px;
  font-size: large;
  margin: 10px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: lightskyblue;
}

.hide {
  display: none;
}

.btn.correct {
  background-color: red;
}

.btn.wrong {
  background-color: darkgreen;
}



/* Wrapper for buttons */
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

/* Enter your initial */
input[type="text"] {
  padding: 10px;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 8px 0;
  border: 1px solid darkgreen;
 
}

/* Highscores Page */
.highscore {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.name-div,
.score-div {
  flex: 1 35%;
  padding: 10px 0;
  border: 1px solid var(--correct-color);
}

  /* Footer */
  #social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color:red;
}

/* Media query: tablets and larger (768px and below) */
@media screen and (max-width: 768px), screen and (max-width: 575px) {
  .btn-grid {
    grid-template-columns: repeat(1, auto);
    gap: 0;
    margin: 0;
  }
}